name: Terraform Destroy Dev (Manual)

on:
  workflow_dispatch:

concurrency:
  group: terraform-dev
  cancel-in-progress: false

jobs:
  destroy:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    env:
      TF_INPUT: "false"
      TF_IN_AUTOMATION: "true"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init (Dev)
        run: terraform -chdir=envs/dev init -input=false -lock-timeout=10m

      - name: Terraform Destroy (Dev)
        run: terraform -chdir=envs/dev destroy -auto-approve -input=false -lock-timeout=10m -no-color -var-file=terraform.tfvars
