name: Terraform Apply Dev

on:
  push:
    branches: [main]
    paths:
      - "modules/**"
      - "envs/**"

jobs:
  apply:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
>>>>>>> 0ce77a387e93d14189c6d7b5350201c6289faa26

      - name: Terraform Init (Dev)
        run: terraform -chdir=envs/dev init

      - name: Terraform Apply (Dev)
        run: terraform -chdir=envs/dev apply -auto-approve
