name: Terraform Apply Dev

on:
  push:
    branches: [main]

jobs:
  apply:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init (Dev)
        run: terraform -chdir=envs/dev init

      - name: Terraform Apply (Dev)
        run: terraform -chdir=envs/dev apply -auto-approve
